@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 357px;
  height: 600px;
  overflow-y: auto;
}

@font-face {
  font-family: RLight;
  src: url(../../public/fonts/Rajdhani-Light.ttf);
}

@font-face {
  font-family: RRegular;
  src: url(../../public/fonts/Rajdhani-Regular.ttf);
}

@font-face {
  font-family: RMedium;
  src: url(../../public/fonts/Rajdhani-Medium.ttf);
}

@font-face {
  font-family: RBold;
  src: url(../../public/fonts/Rajdhani-Bold.ttf);
}
@font-face {
  font-family: RSemiBold;
  src: url(../../public/fonts/Rajdhani-SemiBold.ttf);
}

/* light 300*/
.text-r-light {
  font-family: RLight, serif;
}

/* normal 400*/
.text-r-regular {
  font-family: RRegular, serif;
}

/* medium 500*/
.text-r-medium {
  font-family: RMedium, serif;
}

/* semi bold 600*/
.text-r-semi-bold {
  font-family: RSemiBold, serif;
}

/* bold 700*/
.text-r-bold {
  font-family: RBold, serif;
}